body {
    margin: 0;
    overflow: hidden; /* Скрыть прокрутку */
    background-color: rgb(255, 255, 255); /* Черный фон */
}

.snowflake {
    position: absolute;
    background: rgb(0, 0, 0); /* Белый цвет для снежинок */
    border-radius: 50%;
    opacity: 0.8; /* Полупрозрачность */
    animation: fall linear forwards; /* Анимация падения */
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }

     100% {
        transform: translateY(calc(100vh + 15px)); /* Падает до низа экрана */
        opacity: 0.5; /* Исчезает внизу */
    }
}





body{
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left:10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    
    background-image: url(ng.jpg), url(ng1.jpg);
    background-repeat: no-repeat, no-repeat; /* Не повторять ни одно из изображений */
    background-position: left center, right center; /* Первое слева, второе справа */
    background-position: calc(0% + 70px) center, calc(100% - 40px) center;
   
    

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5px;
    margin-right: 130px;
}



.dice {
    display: flex;
    margin: 350px  -50px;
    cursor: pointer; /* Указатель при наведении */
    width: 50px; /* Ширина изображения кубика */
    height: 50px; /* Высота изображения кубика */
   
   
}

#diceResults {
    margin-top: 50px;
    margin-left: -45px;
    display: none; /* Скрываем результаты по умолчанию */
    position: absolute; /* Абсолютное позиционирование */
    background-color: white; /* Фон результатов */
    border: 1px solid black; /* Граница */
    padding: 10px; /* Отступы */
    border-radius: 5px; /* Закругленные углы */
    text-align: center; /* Центрируем текст */
    font-size: 18px; /* Размер шрифта для результатов */
    color: black; /* Цвет текста */
    pointer-events: none; /* Игнорируем события мыши для этого элемента */
    user-select: none;
   
    
}



.parent
{
    display: flex;    
    flex-direction: row;
    gap: 100px;
    
  }



ol {
    display: inline-block;
    list-style-type: disclosure-closed; /* Нумерация */
    padding-left: 15px; /* Отступ для списка */
}

.outfit ol{
    list-style-type: decimal;
    padding-left: 18px;
}

.under{
    background: 
    linear-gradient(#000, #000) center bottom 1px /calc(100% - 10px) 1px no-repeat;
background-color: #fcfcfc;
}


.textcontacts{
    margin-top: 2px; 
    width: 400px;
    height: 230px;
    border: none; 
    outline: none;  
    resize: none; 
   


}

.textnotes{
    margin-top: 2px; 
    width: 400px;
    height: 263px;
    border: none; 
    outline: none;  
    resize: none; 
}


.textbackground{
    margin-top: 2px; 
    width: 400px;
    height: 65px;
    border: none; 
    outline: none;  
    resize: none; 

}

.textammo{
    margin-left: 3px;
    margin-top: 3px; 
    border: none; 
    outline: none;  
    resize: none;    

}
.textstuff{
    margin-top: 2px; 
    width: 205px;
    height: 85px;
    border: none; 
    outline: none;  
    resize: none; 
}
  
.textweapons{
    margin-top: 2px; 
    border: none; 
    outline: none;  
    resize: none;
}


input{
    margin-top: 5px;
    width: 100%;
    border: none; 
    outline: none;
    font-size: medium;
    overflow: hidden; /* Скрывает текст, выходящий за пределы */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст длиннее */
    white-space: nowrap;
    
    
}

.container {
    margin-top: 10px;
    display: flex; /* Используем flexbox для контейнера */
    flex-direction: column; /* Устанавливаем направление по вертикали */
}

.header {
    display: flex; /* Используем flexbox для заголовков */
    justify-content: space-between; /* Распределяем элементы равномерно */
    align-items: center; /* Центрируем элементы по вертикали */
}

.overload{
    margin-top: 5px;
    font-weight: normal;
    display: flex;
    justify-content: center; 
    
}

.weapons {
    display: inline-flex;
    font-weight: normal;
    width: 200px;
    margin-right: 30px; /* Добавляем отступ справа для всех элементов */
}

.weapons:last-child {
    margin-right: 10px; /* Убираем отступ у последнего элемента */
}


span{
    font-weight: bold; 
    text-align: right;
    
}

.title span{
    font-weight: normal;
    
}

.promo span{
    font-weight: normal;
    text-wrap: nowrap;


}

.rank-title-container {
    gap: 40px;
    display: flex; /* Используем Flexbox для размещения элементов в строку */
    align-items: center; /* Выравниваем по вертикали по центру */
}


.title{
    margin-top:7px;
    display: flex;
    
    
}


.title input{
    margin-top: -1px;
    margin-left: 5px;

}
.promo{
    margin-top:5px;
    display: flex;
    


}

.promo input{
    margin-top: -1px;
    margin-left: 5px;


}



.stunned{
    font-weight: normal;
    margin-left: 10px;
    margin-right: 70px;   
}

.hurt{
    font-weight: normal;
       margin-left: -10px;
    margin-right: 70px;
}
.neardeath{
    font-weight: normal;
    margin-left: 5px;
    margin-right: 40px;
}

.dead{
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
}

.division{
    width: 20px;
    height: 20px;
}


.stuns{
    display: flex;
    margin-top:5px;
    font-weight: normal;
}

.ammo{
    display: flex;
    margin-top: 5px;
    
}

.name{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    width: 200px; 
    height: 50px; 
    padding: 10px;
    

}
.concept{
    border: 2px solid black; 
    border-top-right-radius: 10px;
    width: 200px; 
    height: 50px; 
    padding: 10px;
}

.clothes{
    border: 2px solid black; 
    width: 200px; 
    height: 50px; 
    padding: 10px;
}

.feature{
    border: 2px solid black; 
    width: 200px; 
    height: 50px; 
    padding: 10px;
}

.motivation{
    border: 2px solid black; 
    border-bottom-left-radius: 10px;
    width: 200px; 
    height: 50px; 
    padding: 10px;

}

.problem{
    border: 2px solid black; 
    border-bottom-right-radius: 10px;
    width: 200px; 
    height: 50px; 
    padding: 10px;
}

.conceptskill{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px; 
    height: 40px; 
    padding: 10px;
}
.skills
{   
    border: 2px solid black; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px; 
    height: 166px; 
    padding: 10px;
    
}


.augmentations{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px; 
    height: 250px; 
    padding: 10px;
}

.fight{
    margin-top: 20px;
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 444px;
    height:270px; 
    padding: 10px; 
}



.mainbox{
    display: flex;    
    flex-direction: row;
    gap: 20px;

}

.money{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px; 
    height: 35px; 
    padding: 10px;

}

.stuff{
        border: 2px solid black; 
        width: 200px; 
        height: 100px; 
        padding: 10px;
}

.outfit{
    border: 2px solid black; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 200px; 
    height: 623px;

}

.checkbox-round, .checkbox-death {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgb(0, 0, 0);
}
.checkbox-death:checked{
    background-color: rgb(255, 0, 0);
}

.checkboxes {
    display: flex;
    align-items: center;
}

.divider {
    margin: 0 5px;
    border-left: 1px solid black;
    height: 20px;
}

.line{
    margin-left: -10px;
    margin-top: 6px;
    border-bottom: 2px solid black;
    width: 220px;

}

.progress-bar {
    width: 65px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.damage{
    font-weight: bold;
}

select {
    margin-top: 10px;
    outline: none;
    border: none;
    width: 250px; 
    font-size: medium;
}

.promotion select{
    margin-left: -5px;
    margin-top: 2px;
    width: 120px; 
    
   

}

.rank select{
    margin-left: 1px;
    width: 35px;


}

.mercs select{
    margin-left: 1px;
    width: 70px;


}

.background{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px; 
    height: 80px; 
    padding: 10px;


}

.promotion{
    border: 2px solid black; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px; 
    height: 100px; 
    padding: 10px;
}


.contacts{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px; 
    height: 250px; 
    padding: 10px;

}

.notes{
    border: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px; 
    height: 284px; 
    padding: 10px;

}

.maxoutfit{
    font-size: small;

}

label{
    font-weight: bold;
}

